@import '../../../utils/variables.scss';

/*! Tjänstsektionen */
.services {
    width: 100%;
    height: 110%;
    min-height: 700px;
    max-height: 1800px;
    padding: 5rem;

    @media screen and (max-width: 800px) {
        padding: 15rem 5rem 0rem 5rem;
    }
    @media screen and (max-width: 500px) {
        padding: 2rem;
    }

    /*! Övre tjänstsektionen */
    .topserv {
        height: 50%;
        width: 90%;
        padding-bottom: 5rem;
        display: flex;

        /*! Ändrar axis för flex i mindre skärmar */
        @media screen and (max-width: 800px) {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        @media screen and (max-width: 560px) {
            height: 65%;
            //min-height: 950px;
        }

        @media screen and (max-width: 460px) {
            height: 75%;
        }

        @media screen and (max-width: 430px) {
            height: 85%;
        }


        &-left {
            padding-right: 6rem;
            width: 40%;
            height: 100%;
            margin-right: 5%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-start;
            /*! Skapar en linje till höger om elementet */
            border-right: 2px solid $primary-color;

            @media screen and (max-width: 800px) {
                width: 90%;
                height: 20%;
                min-height: 100px;
                border-right: none;
                padding-right: 0;
                margin-right: 0;
                justify-content: center;
                align-items: center;
            }

            @media screen and (max-width: 400px) {
                height: 10%;
            }

            

            &--title {
                font-size: 3.5rem;
                padding-bottom: 3px;
                border-bottom: 2px solid $carrot;

                @media screen and (max-width: 870px) {
                    border-bottom: none;
                }

                @media screen and (max-width: 800px) {
                    width: 80%;
                    text-align: center;
                }
            }
        }

        &-right {
            padding-left: 2rem;
            width: 60%;

            @media screen and (max-width: 800px) {
                width: 90%;
                border-bottom: 2px solid $primary-color;
                padding-bottom: 5rem;
                min-height: 500px;
                padding-left: 0;
            }

            @media screen and (max-width: 600px) {
                height: 700px;
                max-height: 1200px;
            }

            @media screen and (max-width: 430px) {
                height: 750px;
                border-bottom: none;
            }

            &--title {
                font-size: 2.5rem;
                font-weight: 300;
                margin-bottom: 3rem;

                @media screen and (max-width: 800px) {
                    text-align: center;
                }
            }

            &--info {
                font-size: 1.7rem;
                margin-bottom: 4rem;

                @media screen and (max-width: 800px) {
                    text-align: center;
                }
            }

            &--link:link,
            &--link:visited {
                display: inline-block;
                font-size: 2rem;
                font-weight: 600;
                color: $primary-color;
                transition: all .3s;

                @media screen and (max-width: 800px) {
                    width: 100%;
                    text-align: center;
                }
            }

            &--link:hover,
            &--link:active {
                color: $carrot;
                transform: scale(1.2);
            }
        }
    }

    /*! Undre delen av tjänstsektionen */
    .bottomserv {
        margin: 10rem auto;
        width: 80%;
        height: 100%;
        min-height: 600px;
        max-height: 1200px;
        display: flex;

        @media screen and (max-width: 800px) {
            flex-direction: column;
            height: 120%;
            margin: 20rem auto;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        @media screen and (max-width: 650px) {
            margin: 15rem auto;
        }

        &__box {
            width: 80%;

            @media screen and (max-width: 800px) {
                height: 500px;
                margin-bottom: 10rem;
                height: 100%;
            }
            
            .serv-icon {
                font-size: 10rem;
                display: block;
                text-align: center;
                color: $primary-color;
                margin-bottom: 6rem;
            }

            &-title {
                font-size: 2.2rem;
                padding-bottom: 1rem;
                position: relative;
                margin-bottom: 2rem;

                @media screen and (max-width: 800px) {
                    text-align: center;
                }
            }

            /*! Använder pseudo-klass för att skapa en extra linje */
            &-title:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 50px;
                background-color: $primary-color;

                /*! Tar bort den i mindre skärmar */
                @media screen and (max-width: 800px) {
                    content: none;
                }
            }

            &-info {
                font-size: 1.7rem;

                @media screen and (max-width: 800px) {
                    text-align: center;
                }
            }
        }

        /*! Alla förutom sista boxen ska ha marginal till höger */
        &__box:not(:last-child) {
            margin-right: 5%;

            @media screen and (max-width: 800px) {
                margin-right: 0;
            }
        }
    }
}

/*! Extra utrymmeselementet - behövde det för layoutens skull */
.space {
    width: 100%;
    height: 1000px;

    @media screen and (max-width: 800px) {
        height: 1700px;
    }

    @media screen and (max-width: 650px) {
        height: 1850px;
    }

    @media screen and (max-width: 560px) {
        height: 2200px;
    }

    @media screen and (max-width: 460px) {
        height: 2400px;
    }

    @media screen and (max-width: 410px) {
        height: 2500px;
    }

    @media screen and (max-width: 370px) {
        height: 2600px;
    }
}

.service-space {
    height: 700px;

    @media screen and (min-height: 1050px) {
        height: 1000px;
    }

    @media screen and (max-width: 800px) {
        height: 1400px;
    }

    @media screen and (max-width: 700px) {
        height: 1400px;
    }

    @media screen and (max-width: 550px) {
        height: 1600px;
    }
}

.about-space {

    @media screen and (min-height: 1050px) {
        height: 1400px;
    }

    @media screen and (max-width: 800px) {
        height: 1000px;
    }

    @media screen and (max-width: 700px) {
        height: 900px;
    }
    @media screen and (max-width: 650px) {
        height: 900px;
    }
    @media screen and (max-width: 400px) {
        height: 1100px;
    }
}

.contact-space {
    height: 700px;

    @media screen and (max-width: 550px) {
        height: 900px;
    }

    @media screen and (min-height: 750px) {
        height: 1000px;
    }
} 